/.aws-sam
/.coverage
/.coverage.Pete-Laptop.17708.009512
/.coverage.Pete-Laptop.20096.587473
/.coverage.Pete-Laptop.21716.628493
/.coverage.Pete-Laptop.5644.351047
/.mypy_cache
/.pytest_cache
/.vscode
/coverage.txt
/advent_of_code/__pycache__/
/advent_of_code/util/__pycache__/
/advent_of_code/year_2015/__pycache__/
/advent_of_code/year_2016/__pycache__/
