# Prodcution
-r requirements.txt

# Testing
boto3==1.28.5
freezegun==1.2.2
pytest==7.4.0
toml==0.10.2
pyopenssl=23.2.0

# Daily Helper
beautifulsoup4==4.12.2
markdownify==0.11.6

# Status Graphic
pillow==10.0.0
