# Prodcution
-r requirements.txt

# Testing
boto3==1.28.5
freezegun==1.2.2
pytest==7.4.0
pyopenssl==23.2.0
coverage==7.2.7
pytest-cov==4.1.0
pytest-custom_exit_code==0.3.0
pytest-split==0.8.1
pytest-xdist==3.3.1

# Daily Helper
beautifulsoup4==4.12.2
markdownify==0.11.6

# Status Graphic
pillow==10.0.1

# Pre Commit
pre-commit==3.3.3