# Prodcution
-r requirements.txt

# Testing
boto3==1.33.6
freezegun==1.2.2
pytest==7.4.3
pyopenssl==23.2.0
coverage==7.3.2
pytest-cov==4.1.0
pytest-custom_exit_code==0.3.0
pytest-split==0.8.1
pytest-xdist==3.5.0

# Daily Helper
beautifulsoup4==4.12.2
markdownify==0.11.6

# Status Graphic
pillow==10.2.0

# Pre Commit
pre-commit==3.5.0